 .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  color: #fe5f55;
  position: relative;
}

.container:nth-of-type(2),
.container:nth-of-type(4) {
  background-color: #fe5f55;
  color: #0a0935;
}

.container:nth-of-type(4) {
  background-image: url('../public/circles-bg.svg');
  background-repeat: no-repeat;
  background-position-x: right;
}

.title {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0 2rem;
}

.skillsImage {
  align-self: flex-end;
  padding: 2rem;
  margin-right: 5rem;
}

.second {
  align-items: flex-end;
}

.bio {
  width: 55%;
  font-size: 1.2rem;
  padding: 0 2rem;
  font-weight: bold;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bio > div {
  padding: 2rem 0;
}

.skills {
  display: flex;
  width: 60%;
  flex-direction: column;
  padding: 2rem 0;
  color: #ffffff;
  font-size: 0.8rem;
  align-self: flex-start;
  margin-left: 5rem;
}

.skills > div {
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.skills label {
  width: 20%;
  text-align: right;
}

.skill {
  width: 75%;
  height: 1rem;
  border-radius: 10px;
  border: 1px dotted #fe5f55;
}

.triangle,
.lines {
  position: absolute;
  background-repeat: no-repeat;
}

.lines {
  background-image: url('../public/lines.svg');
  width: 200px;
  height: 200px;
  bottom: -80px;
  right: 0px;
  overflow: hidden;
}

.triangle {
  width: 140px;
  height: 140px;
  background-size: 65px;
  background-image: url('../public/triangles.svg');
  background-position: bottom left;
  left: 10px;
  bottom: 10px;
}

@media (max-width: 950px) {
  .skills {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }

  .container:nth-of-type(4) {
    background-size: cover;
    background-position-x: center;
  }

  .bio {
    width: 100%;
    font-size: 1.2rem;
  }

  .title {
    font-size: 1rem;
    padding: 0;
  }

  .skills {
    width: 100%;
    font-size: 0.6rem;
    margin: 0;
  }

  .skillsImage {
    margin: 0;
  }

  .skills progress {
    width: 50%;
  }
}
