.splash {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.splash h1 {
  color: #fe5f55;
  font-size: 4rem;
}
.splash h4 {
  font-size: 2.5rem;
  color: #e4f427;
}

.halfSplash {
  width: 50%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.halfSplash:nth-of-type(1) {
  align-items: flex-start;
  padding-left: 10vw;
  padding-right: 3vw;
}

.halfSplash:nth-of-type(2) {
  background-color: #fe5f55;
  align-items: center;
  padding: 10rem 0;
  height: 100%;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0 2rem;
}

.slide {
  min-height: 80vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}

.arrow {
  cursor: pointer;
  position: relative;
  width: 2rem;
  height: 2rem;
  opacity: 0.7;
  color: #fe5f55;
}

.arrow:hover {
  opacity: 1;
}

.left {
  left: 3rem;
}
.right {
  right: 3rem;
}



@media (max-width: 768px) {
  .splash {
    flex-direction: column;
  }
  .splash h1 {
    font-size: 2.5rem;
  }
  .splash h4 {
    font-size: 1rem;
  }
  .halfSplash {
    width: 100%;
  }

  .halfSplash:nth-of-type(1) {
    order: 2;
    padding: 0;
    width: 80%;
  }

  .halfSplash:nth-of-type(2) {
    order: 1;
  }

  .slide {
    min-height: 60vh;
  }
  .arrow {
    width: 2rem;
  }

  .left {
    left: 0.5rem;
  }
  .right {
    right: 0.5rem;
  }
}
