.container {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.mainImage {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mainOverlay {
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.2);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.description {
  padding: 2rem 3rem;
  color: #0a0935;
}

.video {
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.imagesContainer {
  width: 100%;
  position: relative;
  margin: auto;
  line-height: 0;
}

.imagesContainer img {
  width: 100%;
}

.fixedTopButton {
  width: 50px;
  padding: 2.5px 0;
  font-size: 2.5rem;
  text-align: center;
  line-height: 0;
  position: fixed;
  background-color: #fe5f55;
  border-radius: 50%;
  color: #fff;
  bottom: 10.5rem;
  right: 4rem;
  z-index: 3;
  cursor: pointer;
}

.transparent {
  background-color: transparent;
  color: transparent;
  pointer-events: none;
}

.fixedTopButton,
.transparent {
  transition: linear 0.2s;
}

.previewContainer {
  color: #0a0935;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.previews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

@media (max-width: 768px) {
  .fixedTopButton {
    right: 0.5rem;
  }

  .previews {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .previews {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
