.item{
    height: 100%;
    width: 80%;
    cursor: pointer;
    position: relative;
    margin: 2rem;
    width: inherit;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}


.item:hover{
    opacity: 0.8;
}