.form {
  color: #000;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.form label {
  font-weight: bold;
  display: block;
}

.form span {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.form input,
.form textarea {
  width: 60%;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

.form input {
  border-bottom: 2px solid #000;
}

.form input:focus {
  outline: none;
}

.form textarea {
  border: 2px solid #000;
  border-radius: 5px;
  resize: vertical;
}
.form button {
  margin-top: 1rem;
  background-color: #fe5f55;
  color: #fff;
  padding: 0.5rem 0;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
  width: 60%;
  align-self: flex-end;
}

.form button:hover {
  background-color: #0a0935;
  color: #fff;
}

.error {
  color: #ee4d4d;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .form {
    width: 100%;
    padding: 2rem;
  }

  .form span {
    flex-direction: column;
  }

  .form input,
  .form textarea {
    width: 100%;
    margin: 1rem 0;
  }

  .form button {
    width: 100%;
  }
}
