.content {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0a0935;
  color: #ffff;
}

.footer {
  background-color: #0a0935;
  min-height: 10rem;
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.icons {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.icons svg {
  width: 20px;
  cursor: pointer;
  margin: 0 1rem;
}

.icons svg:hover {
  color:  #fe5f55;
}
